@font-face{
    src: url(fonts/Roboto-Light.ttf);
    font-family: Roboto-Light;
}
@font-face{
    src: url(fonts/OpenSans-VariableFont_wdth\,wght.ttf);
    font-family: OpenSans;
}

h1{
    font-family: Roboto-Light, verdana, arial;
}
p{
    font-family: "OpenSans", "lucida console", "courier new";
    font-size: 18px;
    font-style: italic;
}